@import '~normalize.css';

body {
    background-color: #1D2123;
}

.body {
    background-color: #1D2123;
    padding: 70px 30px 125px 100px;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & a {
        text-decoration-line: none;
    }
}

.main {
    flex: 1;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .body {
        padding: 70px 10px 140px;
    }
}

@import './white-theme.scss'