.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 23px 32px;
    align-items: center;
    gap: 35px;
    z-index: 5;
    background-color: #1D2123;
}

.logo {
    svg {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 500px) {
    .header {
        padding: 20px;
        gap: 25px;
    }
}