.cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
.content {
    position: relative;
    z-index: 2;
    margin-top: 30px;
    display: flex;
    gap: 27px;
}
.image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.description {
    margin: 0;
    opacity: 0.7;
}
.name {
    margin-top: 0;
    font-size: 70px;
    font-weight: 900;
}

@media screen and (max-width: 700px) {
    .content {
        margin: 0 auto;
        flex-direction: column;
        gap: 0;
    }
    .name {
        margin: 10px 0;
    }
}

@media screen and (max-width: 700px) {
    .content {
        max-width: 350px;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .name {
        font-size: 40px;
    }
}