.song {
    width: 100%;
    box-sizing: border-box;
    background-color: #1A1E1F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    &.active {
        box-shadow: 0px 0px 6px 0px rgb(164 164 164 / 28%);
        transform: scale(101%);
    }
    &:hover {
        background-color: #33373B;
        .play {
            display: block;
            opacity: 1;
        }
        .count {
            display: none;
        }
    }
    &.playing {
        .equalizer {
            display: flex;
        }
        .count,
        .play {
            display: none;
        }
    }
}
.image {
    width: 50px;
    border-radius: 5px;
}
.name {
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 3px;
}
.artist {
    font-size: 14px;
    margin: 0;
    color: rgba(255, 255, 255, 0.44);
}
.play {
    background-image: url(../../asets/images/play-white.svg);
    width: 20px;
    height: 15px;
    display: none;
    padding: 0;
}
.count {
    width: 20px;
    text-align: center;
    opacity: 0.7;
}
.wrapper {
    width: calc(70% - 170px);
}
.name,
.album,
.artist {
    min-height: 16px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.album {
    width: 30%;
    font-size: 14px;
    opacity: 0.7;
    margin-right: 20px;
}
.time {
    opacity: 0.7;
}
.equalizer {
    align-items: center;
    justify-content: center;
    gap: 1px;
    height: 100%;
    width: 20px;
    display: none;
    span {
        width: 2px;
        height: 14px;
        background-color: #fff;
        &:first-of-type {
            animation: equalizer-start 0.8s infinite;
        }
        &:nth-of-type(2) {
            animation: equalizer-start 0.7s infinite .2s;
        }
        &:nth-of-type(3) {
            animation: equalizer-start 0.7s infinite .4s;
        }
        &:nth-of-type(4) {
            animation: equalizer-start 0.8s infinite .2s;
        }
        &:nth-of-type(5) {
            animation: equalizer-start 0.6s infinite;
        }
    }
}

@media (max-width: 700px) {
    .wrapper {
        width: calc(100% - 140px);
    }
    .album {
        display: none;
    }
}

@keyframes equalizer-start {
    from {
        transform: scaleY(0.1);
    }
    50% {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0.1);
    }
}