.song {
    width: 100%;
    box-sizing: border-box;
    background-color: #1A1E1F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    &:hover {
        background-color: #33373B;
        .play {
            display: block;
            opacity: 1;
        }
        .count {
            display: none;
        }
    }
}
.image {
    width: 50px;
    border-radius: 5px;
}
.name {
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 3px;
}
.artist {
    font-size: 14px;
    margin: 0;
    color: rgba(255, 255, 255, 0.44);
}
.play {
    background-image: url(../../asets/images/play-white.svg);
    width: 20px;
    height: 15px;
    display: none;
    padding: 0;
}
.count {
    width: 20px;
    text-align: center;
    opacity: 0.7;
}
.wrapper {
    width: calc(70% - 170px);
}
.name,
.album,
.artist {
    min-height: 16px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.album {
    width: 30%;
    font-size: 14px;
    opacity: 0.7;
    margin-right: 20px;
}
.time {
    opacity: 0.7;
}

@media (max-width: 700px) {
    .wrapper {
        width: calc(100% - 140px);
    }
    .album {
        display: none;
    }
}